<!DOCTYPE html>
<html><head><meta charset="UTF-8">
  <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/pure-min.css">
</head><body>
<div style="padding:0.5em;">
  <h1>新規作成</h1>
  <form action="/new" method="GET" class="pure-form">
    <fieldset>
      <input type="text" name="page_name">
      <input type="submit"
             class="pure-button pure-button-primary"
             value="編集">
    </fieldset>
  </form>
</div></body></html>

